<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i><b> <%= params[:action].capitalize %> </b>
  </div>
  <div class="panel-body">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.association :teacher, collection: User.all.where(role: 'teacher').collect { |u| [u.username,u.id] },  include_hidden: false,  include_blank: true %>
    <%= f.submit submit_btn_text , class: 'btn btn-primary submit-button' %>
  </div>
</div>

